/**************************************** Camille ********************************/

:root {
  /* Colours */

  --tertiary: #f8f3e4;
  --tertiary-light: #fcfaf3;
  --secondary: #c0b494;
  --primary: #555235;
  --text-color: #211e18;
  --contrast-light: #d99429;
  --contrast: #af6f27;
  --contrast-dark: #754220;

  /* Fonts */
  --font-family: "Roboto", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;

  /* H1 */
  --h1-size: 4rem;
  --h1-size-mobile: 2.5rem;

  /* H2 */
  --h2-size: 3rem;
  --h2-size-mobile: 1.5rem;

  /* H3 */
  --h3-size: 2rem;
  --h3-size-mobile: 1.2rem;

  /* P */
  --text-size: 1.4rem;
  --text-line-height: 2rem;
  --text-size-mobile: 1rem;
}
