/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/**************************************** Camille ********************************/

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.card-text {
  background-color: #fcfaf3;
}

.card-title {
  background-color: var(--oliven);
}
