/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}


/**************************************** Camille ********************************/

html {
  font-family: var(--font-family);
}

h1 {
  font-weight: var(--font-weight-medium);
  font-size: var(--h1-size);
}

h2 {
  font-weight: var(--font-weight-regular);
  font-size: var(--h2-size);
}

p {
  font-weight: var(--font-weight-regular);
  font-size: var(--text-size);
}
