/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/**************************************** Camille ********************************/

html {
  font-family: var(--font-family);
  color: var(--text-color);
  margin: 0 50px;
}

h1 {
  font-weight: var(--font-weight-medium);
  font-size: var(--h1-size);
}

h2 {
  font-weight: var(--font-weight-regular);
  font-size: var(--h2-size);
}

p,
a {
  font-weight: var(--font-weight-regular);
  font-size: var(--text-size);
  line-height: var(--text-line-height);
  text-wrap: pretty;
  text-decoration: none;
}

/* Header her */

/* Footer her */

@media (max-width: 800px) {
  h1 {
    font-size: var(--h1-size-mobile);
  }

  h2 {
    font-size: var(--h2-size-mobile);
  }

  p,
  a {
    font-size: var(--text-size-mobile);
  }
}
