/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/**************************************** Te kontaktformular slut ********************************/

main {
  display: grid;
  gap: 2rem;
  padding: 2rem;
}

h1 {
  margin-top: 20px;
  margin-bottom: 30px;
}

h3 {
  font-weight: var(--font-weight-medium);
  letter-spacing: 1px;
  padding-top: 10px;
}

#h3kf,
#h3ov {
  background-color: var(--primary);
  border-radius: 6px;
  padding-inline: 20px;
  padding-bottom: 10px;
  color: var(--tertiary);
}

.grid_2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#skilt_paa_hegn {
  align-items: center;
  justify-items: center;
  margin: 30px;
}

.kontakt-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  align-items: start;
}

/* Formular layout */
.kontakt-layout form {
  display: grid;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  font-size: var(--text-size);
  border: 2px solid var(--secondary);
  border-radius: 6px;
  max-width: 800px;
  /* 
    display: flex;
    justify-content: center;
  */
}
.form-gruppe {
  display: grid;
  gap: 0.25rem;
}

label {
  display: flex;
  gap: 1rem;
  justify-self: start;
  padding: 5px;
}

textarea,
input {
  border: 1px solid var(--secondary);
  padding: 0.25em;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
  background-color: var(--tertiary);
  font-size: var(--text-size);
  font-family: var(--font-family);
}
textarea {
  resize: vertical;
}
/* Formular layout slut */

/* Knapper/input layout start */
/* virker til både knapper og input-felter, select, textarea, links mm. */
:focus-visible {
  outline: 2px solid var(--contrast-light);
  outline-offset: 1px;
}
.btn-light {
  justify-self: end;
  font-weight: var(--font-weight-medium);
  padding: 20px;
  border-radius: 6px;
  width: 40%;
  justify-self: end;
  cursor: pointer;
}

.btn-light:hover {
  background-color: var(--contrast);
  color: var(--tertiary-light);
}

.btn-light:active {
  scale: 0.98;
  background: var(--secondary);
}
/* Knapper/input layout slut */

/* fejlbesked layout start */
/* Skjul fejlmeddelelsen som standard */
.fejlbesked {
  display: none;
  color: var(--contrast);
}
.form-gruppe:has(:required) {
  label::after {
    content: " *";
    color: var(--contrast);
  }
}
/* fejlmeddelelse style */
.form-gruppe:has(:user-invalid) {
  input {
    outline: 3px solid var(--contrast);
    border-color: var(--contrast);
    background-color: var(--contrast-light);
  }
  /* Vis fejlmeddelelsen, hvis feltet er ugyldigt */
  .fejlbesked {
    display: block;
  }
}
/* fejlbesked layout slut */

/* bekræftigelse layout start */
.bekraeftelse {
  font-size: var(--text-size);
  gap: 1rem;
  align-content: start;

  /* tjek hvorfor denne ikke går igennem */
}

.bekraeftelse div {
  background: var(--tertiary);
  padding: 20px;
  border-radius: 6px;
  display: grid;
  gap: 1rem;
}
/* bekræftigelse layout slut */

/* Mobil start  */
@media (max-width: 800px) {
  h1 {
    font-size: var(--h1-size-mobile);
    margin-top: 0;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: var(--h2-size-mobile);
  }

  h3 {
    font-size: var(--h3-size-mobile);
    padding-top: 0.5rem;
  }

  p,
  a,
  label,
  input,
  textarea {
    font-size: var(--text-size-mobile);
  }
  .krumme {
    display: none;
  }
  .grid_2-1 {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .kontakt-layout {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .kontakt-layout form {
    max-width: 100%;
    padding: 1rem;
    gap: 1rem;
  }

  .btn-light {
    width: 100%;
    justify-self: stretch;
    padding: 20px;
    border-radius: 6px;
  }
  .bekraeftelse {
    font-size: var(--text-size-mobile);
  }
}
/* Mobil slut  */
/**************************************** Te kontaktformular slut ********************************/
