/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/**************************************** Te kontaktformular slut ********************************/

html {
  font-family: var(--font-family);
  color: var(--text-color);
  margin: 0 50px;
}
main {
  display: grid;
  padding: 2rem;
  gap: 2rem;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto auto 1fr auto;
  font-family: var(--font-family);
}

h1 {
  margin-top: 20px;
  margin-bottom: 30px;
  /* font-weight: var(--font-weight-medium);
  font-size: var(--h1-size); */
}
/*
h2 {
  font-weight: var(--font-weight-regular);
  font-size: var(--h2-size); 
}*/

h3 {
  font-family: var(--font-family);
  font-size: var(--h3-size);
  font-weight: var(--font-weight-medium);

  margin-top: 5px;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 0px;
}
p {
  font-size: var(--text-size);
}

#h3kf,
#h3ov {
  background-color: var(--primary);
  border-radius: 6px;
  padding-inline: 20px;
  padding-bottom: 10px;
  color: var(--tertiary);
}

section {
  display: grid;
  gap: 1rem;
  align-content: start;
}

/* Formular layout */
form {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  font-size: var(--text-size);
  border: 2px solid var(--secondary);
  border-radius: 6px;
}
.form-gruppe {
  display: grid;
  gap: 0.25rem;
}

label {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-self: start;
  padding: 5px;
}

textarea,
input {
  border: 1px solid var(--secondary);
  padding: 0.25em;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
  background-color: var(--tertiary);
  font-size: var(--text-size);
  font-family: var(--font-family);
}
textarea {
  resize: vertical;
}
/* Formular layout slut */

/* Knapper/input layout start */
:focus-visible {
  /* virker til både knapper og input-felter, select, textarea, links mm. */
  outline: 2px solid var(--contrast-light);
  outline-offset: 1px;
}

button:hover {
  background: var(--contrast);
}

button:active {
  scale: 0.98;
  background: var(--secondary);
}
/* Knapper/input layout slut */

/* fejlbesked layout start */
/* Skjul fejlmeddelelsen som standard */
.fejlbesked {
  display: none;
  color: var(--contrast);
}
.form-gruppe:has(:required) {
  label::after {
    content: " *";
    color: var(--contrast);
  }
}
/* fejlmeddelelse style */
.form-gruppe:has(:user-invalid) {
  input {
    outline: 3px solid var(--contrast);
    border-color: var(--contrast);
    background-color: var(--contrast-light);
  }
  /* Vis fejlmeddelelsen, hvis feltet er ugyldigt */
  .fejlbesked {
    display: block;
  }
}
/* fejlbesked layout slut */

/* bekræftigelse layout start */
.bekraeftelse {
  margin-top: 100px;
  font-size: var(--text-size);
}

.bekraeftelse div {
  background: var(--tertiary);
  padding: 20px;
  border-radius: 6px;
  display: grid;
  gap: 1rem;
}
/* bekræftigelse layout slut */

/* tilpas så den ryger retur til same hover effekts etc som ovenstående pseudo */
button {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: var(--text-size);
  line-height: var(--text-line-height);
  text-wrap: pretty;
  text-decoration: none;
  color: var(--tertiary);
  background-color: var(--primary);

  padding: 10px;
  border-radius: 6px;
  width: 20%;
  justify-self: end;
  cursor: pointer;
}
/* main {
  padding: 2rem;
  gap: 2rem;
  @media (max-width: 800px) {
    grid-template-columns: 2fr 1fr;
  }
} */

/* til mobil fix

section {
  display: grid;
  gap: 1rlh;
  align-content: start;
}

.bekraeftelse div {
  background: #f5f5f5;
  padding: 1rlh;
  border-radius: 6px;
  display: grid;
  gap: 0.5rlh;
} */
/**************************************** Te kontaktformular slut ********************************/
