/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/**************************************** Te kontaktformular slut ********************************/

main {
  display: grid;
  padding: 2rem;
  gap: 2rem;
}

h1 {
  margin-top: 20px;
  margin-bottom: 30px;
}

h3 {
  font-weight: var(--font-weight-medium);
  letter-spacing: 1px;
  padding-top: 10px;
}

#h3kf,
#h3ov {
  background-color: var(--primary);
  border-radius: 6px;
  padding-inline: 20px;
  padding-bottom: 10px;
  color: var(--tertiary);
}

section {
  display: grid;
  gap: 1rem;
  align-content: start;
}

.grid_2-1 {
  grid-template-columns: 2fr 1fr;
}

.grid_2-1-1 {
  grid-template-columns: 2fr 0.5fr 0.5fr;
}

/* Formular layout */
form {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  font-size: var(--text-size);
  border: 2px solid var(--secondary);
  border-radius: 6px;
}
.form-gruppe {
  display: grid;
  gap: 0.25rem;
}

label {
  display: flex;
  gap: 1rem;
  justify-self: start;
  padding: 5px;
}

textarea,
input {
  border: 1px solid var(--secondary);
  padding: 0.25em;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
  background-color: var(--tertiary);
  font-size: var(--text-size);
  font-family: var(--font-family);
}
textarea {
  resize: vertical;
}
/* Formular layout slut */

/* Knapper/input layout start */
:focus-visible {
  /* virker til både knapper og input-felter, select, textarea, links mm. */
  outline: 2px solid var(--contrast-light);
  outline-offset: 1px;
}

button:hover {
  background: var(--contrast);
}

button:active {
  scale: 0.98;
  background: var(--secondary);
}
/* Knapper/input layout slut */

/* fejlbesked layout start */
/* Skjul fejlmeddelelsen som standard */
.fejlbesked {
  display: none;
  color: var(--contrast);
}
.form-gruppe:has(:required) {
  label::after {
    content: " *";
    color: var(--contrast);
  }
}
/* fejlmeddelelse style */
.form-gruppe:has(:user-invalid) {
  input {
    outline: 3px solid var(--contrast);
    border-color: var(--contrast);
    background-color: var(--contrast-light);
  }
  /* Vis fejlmeddelelsen, hvis feltet er ugyldigt */
  .fejlbesked {
    display: block;
  }
}
/* fejlbesked layout slut */

/* kontaktoplysninger layout start */
div.hidden {
  align-items: center;
  justify-items: center;
}
ul {
  list-style-type: none;
  text-align: left;
  line-height: var(--text-line-height);
}
/* 
.order {
  order: -2;
  gap: 1rem;
  align-items: end;
} */
/* 
#hidden {
  display: none;
} */

/* kontaktoplysninger layout slut */

/* bekræftigelse layout start */
.bekraeftelse {
  font-size: var(--text-size);
  /* tjek hvorfor denne ikke går igennem */
}

.bekraeftelse div {
  background: var(--tertiary);
  padding: 20px;
  border-radius: 6px;
  display: grid;
  gap: 1rem;
}
/* bekræftigelse layout slut */

/* tilpas så den ryger retur til same hover effekts etc som ovenstående pseudo */
/* button {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: var(--text-size);
  line-height: var(--text-line-height);
  text-wrap: pretty;
  text-decoration: none;
  color: var(--tertiary);
  background-color: var(--primary);

  padding: 10px;
  border-radius: 6px;
  width: 20%;
  justify-self: end;
  cursor: pointer;
} */

.btn-light {
  justify-self: end;
}

.btn-light:hover {
  background-color: var(--contrast);
  color: var(--tertiary-light);
}
/* 
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 1s ease-in;
} */

/* main {
  padding: 2rem;
  gap: 2rem;
  @media (max-width: 800px) {
    grid-template-columns: 2fr 1fr;
  }
} */

/* til mobil fix

section {
  display: grid;
  gap: 1rlh;
  align-content: start;
}

.bekraeftelse div {
  background: #f5f5f5;
  padding: 1rlh;
  border-radius: 6px;
  display: grid;
  gap: 0.5rlh;
} */
/**************************************** Te kontaktformular slut ********************************/
