/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/**************************************** Ida ********************************/

/*desktop Layout*/
main {
  display: grid;
  grid-template-rows: auto auto;
}

.box1,
.box2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box1_1,
.box1_2,
.box2_1,
.box2_2 {
  padding: 2rem;
}

.box2 {
  align-items: stretch;
}

.box2_1,
.box2_2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.box2_1 button.mid,
.box2_2 button.mid {
  margin-top: auto;
  align-self: center;
}

.box1_1 .wrap {
  float: right;
}

/* Overordnet Style*/
html {
  background-color: #ffffff;
}

h1 {
  font-size: var(--h1-size);
  color: var(--primary);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family);
  line-height: 8rem;
}
h2 {
  font-size: var(--h2-size);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family);
  color: var(--primary);
}
p {
  font-size: var(--text-size);
  line-height: var(--text-line-height);
  font-family: var(--font-family);
  color: var(--text-color);
}
img {
  margin-top: 2rem;
}
.box2_1 {
  background-color: #f8f3e4;
}
/* Button Styling */
button {
  background-color: var(--contrast-light);
  color: var(--text-color);
  padding: 10px 28px;
  font-size: var(--text-size);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  border-radius: 999px;
  cursor: pointer;

  box-shadow: 0 1px 0 #b8893c;
  padding: 10px 40px;
  min-width: 190px;
  text-align: center;
}
button:hover {
  background-color: var(--contrast);
  color: var(--tertiary);
}
button:active {
  background-color: var(--contrast-dark);
}

/* Mobil Layout */
@media (max-width: 800px) {
  main {
    min-width: 350px;
    display: grid;
    grid-template-columns: 1fr;
  }
  h1 {
    font-size: var(--h1-size-mobile);
  }
  h2 {
    font-size: var(--h2-size-mobile);
  }
  p {
    font-size: var(--text-size-mobile);
    line-height: 1.5rem;
  }
  .box1_2 {
    display: none;
  }
  .box1_1,
  .box2_1,
  .box2_2 {
    display: flex;
    flex-direction: column;
  }
  .box1,
  .box2 {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  .box2_1 {
    background-color: transparent;
  }

  button {
    font-size: var(--text-size-mobile);
    letter-spacing: 0.5px;
    text-transform: uppercase;

    min-width: 170px;
  }
  .box1_1 .wrap {
    float: none;
    margin: 16px auto 0; /* centered */
    display: block;
  }
  .box1_1 p {
    display: flex;
    flex-direction: column;
  }
}
