/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/**************************************** Ida ********************************/
/* Mobil */

html {
  background-color: #ffffff;
}

main {
  min-width: 350px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.box1,
.box2 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.box1_2 {
  display: none;
}

.box1_1,
.box2_1,
.box2_2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.box2_1 {
  background-color: transparent;
}

h1 {
  font-size: var(--h1-size-mobile);
  color: var(--primary);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family);
  line-height: 8rem;
  margin-top: 2rem;
}

h2 {
  font-size: var(--h2-size-mobile);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family);
  color: #ffffff;
}

p {
  font-size: var(--text-size-mobile);
  line-height: 1.5rem;
  font-family: var(--font-family);
  color: var(--text-color);
}

.billed_pakker img {
  margin-top: 2rem;
  border-radius: 8px;
}

.card_title {
  background-color: var(--primary);
  padding: 2.5rem;
  margin: 0;
  border-radius: 15px 15px 0 0;
}

.card {
  background-color: var(--tertiary);
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 15px;
}

.card p {
  padding: 2rem;
}

.card1 {
  display: flex;
  flex-direction: column;
}

.btn {
  margin-top: 1rem;
}

button {
  background-color: var(--contrast-light);
  color: var(--text-color);
  padding: 10px 40px;
  font-size: var(--text-size-mobile);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  box-shadow: 0 1px 0 #b8893c;
  min-width: 170px;
  text-align: center;
  margin-top: auto;
  align-self: center;
}

.card button {
  margin-top: auto;
  margin-bottom: 1.5rem;
  align-self: center;
}

button:hover {
  background-color: var(--contrast);
  color: var(--tertiary);
}

button:active {
  background-color: var(--contrast-dark);
}

.box1_1 .wrap {
  float: none;
  margin: 16px auto 0;
  display: block;
}

.box1_1 p {
  display: flex;
  flex-direction: column;
}

/* Desktop */

@media (min-width: 801px) {
  main {
    min-width: initial;
  }

  .box1,
  .box2 {
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
    gap: 2rem;
  }

  .box1_2 {
    display: block;
    margin-top: 3rem;
  }
  .box1_2 img {
    border-radius: 8px;
  }

  .box2 {
    align-items: stretch;
    margin-top: 2rem;
  }

  h1 {
    font-size: var(--h1-size);
  }

  h2 {
    font-size: var(--h2-size);
  }

  p {
    font-size: var(--text-size);
    line-height: var(--text-line-height);
  }
  .billed_tekst {
    font-family: var(--font-family);
    font-size: 0.9rem;
    justify-self: end;
    color: var(--text-color);
    opacity: 60%;
    font-weight: var(--font-weight-regular);
  }
  .billed_tekst a {
    text-decoration: underline;
    font-family: var(--font-family);
    font-size: 0.9rem;
    color: var(--text-color);
    opacity: 100%;
    font-weight: var(--font-weight-medium);
  }

  button {
    font-size: var(--text-size);
    min-width: 190px;
  }

  .box1_1 p {
    display: block;
  }
}
/*404 css */
